body {
  background: #eee url('/img/texture.jpg') repeat;
}

a {
  color: #68e;
}

a:hover {
  color: #79f;
  text-decoration: underline;
}

fieldset {
  border-radius: 10px;
  background-color: #eef;
  padding-bottom: 0px;
}

.actions ul {
  margin-bottom: 0;
}

.usage {
  color: #777;
}

#actions .content {
  padding-top: 60px;
}

.contained {
  height: 500px;
  border: 1px solid #998;
  background-color: #ffe;
}

.contained ul {
  height: 498px;
  overflow: auto;
}

.selected {
  font-weight: 900;
  background-color: #eed;
}

.button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #fff;
}

a.button:hover {
  text-decoration: none;
}

.hidden {
  display: none;
}

#surround {
  margin-top: 10px;
  background: #fff url(../img/background.jpg) repeat-y;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#surround #logo {
  float: left;
  margin-top: 15px;
  margin-left: 10px;
  width: 70px;
  height: 70px;
}

.content {
  padding-left: 9px;
  padding-right: 9px;
}

.content .hilite {
  background-color: #ff9;
}

.content p {
  color: #555;
  text-align: justify;
  line-height: 27px;
}

.callout p {
  line-height: 25px;
}

#header {
  height: 96px;
}

#header #title {
  font-size: 38px;
  color: #fff;
  margin-top: 36px;
}

#header #buttons {
  position: absolute;
  top: 20px;
  right: 30px;
}

#page {
  border-radius: 10px;
  background-color: #fff;
  min-height: 600px;
  padding-top: 15px;
}

#page .content {
  font-size: 14px;
  color: #333;
}

#footer {
  line-height: 15px;
  padding-top: 17px;
  padding-bottom: 23px;
}

#footer .content {
  font-size: 12px;
  color: #999;
}

.small-print {
  font-size: 13px;
}
